.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color:rgb(255, 255, 255);
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
    border-radius: 15px;
}

body{
    font-family: 'Poppins';
    TEXT-ALIGN: CENTER;
    background-image: url("boygirlbackground.jpg");
    background-size: cover;
}

.label{
display: block;
margin:0;
text-align: left;
}

.input{
    border: 2px solid rgb(255, 0, 85);
    width: 200px;
}

button{
    border: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;
    margin-bottom: 20px;
}

#space{

    margin-bottom: 30px;
}

#loginbutton{
border: none;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
background-color:rgb(160, 160, 160);
color: white;
font-family: 'Poppins';
font-weight: bold;
}