html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    
}

button {
    border: none;
    background-color: rgb(239, 239, 239);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

button:hover{
    border: none;
    background-color: rgb(239, 239, 239);
    color: rgb(255, 0, 85);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
}





.w3-bar-block {
    min-width: 200px;
    background-color: rgb(239, 239, 239);
    height: 100%;
    min-height: 100vh;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
    position: fixed;
    top: 0;
    
}

.contents {
    display: flex;
    flex-direction: row;
}

.title {
    padding: 10px;
    color: rgb(255, 0, 85);
    font-size: 20px;
    background-color: rgb(5, 228, 228);
    text-align: center;
    font-weight: 600;

}

.w3-bar-item {
    padding-bottom: 10px;
}

#Insta {
    padding-top: 20px;
}

.profilecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-left: 200px;
}

.igimagecontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin-left: 150px;
    margin-left: 200px;
}

h2 {
    padding-bottom: 30px;
    text-align: left;
    margin-top: 40px;
    margin-left: 230px;
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
    font-size: 20px;
    color: rgb(255, 0, 85);
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-left: 200px;
}

.videocontainer{
    display:flex;
    gap: 50px;
    justify-content: center;
    margin-left: 350px;
    margin-right: auto;
}


.targetbox{
display: flex;
justify-content: center;
margin-left: 100px;
margin-top: 100px;
gap: 20px;
align-items: center;

}

.target{
    height: auto;
}

.tonetext{
    margin-left: 20%;
    margin-right: 14%;
}

p{
    line-height: 26px;
}

.tonetitle{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style:italic;
    font-size: 20px;
    color: rgb(255, 0, 85);
}

.li{
    list-style-type: circle;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tonelist{
    margin-left:30px;
}

.description{
    margin-left: 230px;
    margin-right: 14%;
}

.yearplan{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: auto;
    max-width: 80%;
    gap: 30px;
}

.yearcolumn{
    max-width: 500px;
    min-width: 380px;
}

li{
    list-style-type: circle;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.month{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style:italic;
    font-size: 20px;
    color: rgb(255, 0, 85);
    
}

.table{
    margin-left:80px;
}

.targeta{
   
    margin-left: 230px;
    margin-right: 100px;
}
